@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  
} */

html {
  font-family: 'Crimson Pro', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  @apply antialiased w-auto h-auto;
}

body {
  @apply text-grey bg-off-white h-screen;
}

a {
  text-underline-offset: -0.25rem;
  text-decoration-skip-ink: none;

  @apply underline decoration-mint-light decoration-8 transition duration-300;
}

a:hover {
  /* @apply decoration-mint; */
  @apply no-underline text-mint;
}

a.site {
  @apply no-underline transition duration-300;
}

a.site i {
  @apply text-grey transition duration-300;
}

a.site:hover i {
  @apply text-mint;
}

a.site span {
  @apply block uppercase font-sans text-2xs tracking-wider;
}